#include "windows.h"
#include "resources.h"

1 ACCELERATORS
{
  VK_ESCAPE, IDA_ESCAPE, NOINVERT, VIRTKEY
  "O", IDM_OPEN_FILE, NOINVERT, CONTROL, VIRTKEY
  "U", IDM_OPEN_URL, NOINVERT, CONTROL, VIRTKEY
  "W", IDM_CLOSE, NOINVERT, CONTROL, VIRTKEY
  "I", IDM_SHOW_MEDIAINFOS, NOINVERT, VIRTKEY
  "E", IDM_OPEN_LOCATION, NOINVERT, VIRTKEY
  "Q", IDM_EXIT, NOINVERT, CONTROL, VIRTKEY
  VK_SPACE, IDM_PLAY_PAUSE, NOINVERT, VIRTKEY
  VK_OEM_PERIOD, IDM_STOP, NOINVERT, VIRTKEY
  "R", IDM_REWIND, NOINVERT, VIRTKEY
  "L", IDM_LOOP, NOINVERT, VIRTKEY
  VK_PRIOR, IDM_PLAY_PREVIOUS, NOINVERT, VIRTKEY
  VK_NEXT, IDM_PLAY_NEXT, NOINVERT, VIRTKEY
  VK_LEFT, IDM_SKIP_BACK, NOINVERT, VIRTKEY
  VK_RIGHT, IDM_SKIP_FORWARD, NOINVERT, VIRTKEY
  VK_LEFT, IDM_STEP_BACK, NOINVERT, SHIFT, VIRTKEY
  VK_RIGHT, IDM_STEP_FORWARD, NOINVERT, SHIFT, VIRTKEY
  VK_UP, IDM_VOLUME_UP, NOINVERT, VIRTKEY
  VK_DOWN, IDM_VOLUME_DOWN, NOINVERT, VIRTKEY
  "M", IDM_MUTE, NOINVERT, VIRTKEY
  "0", IDM_ZOOM_50, NOINVERT, VIRTKEY
  "1", IDM_ZOOM_100, NOINVERT, VIRTKEY
  "2", IDM_ZOOM_200, NOINVERT, VIRTKEY
  "C", IDM_COLOR_CONTROLS, NOINVERT, VIRTKEY
  "S", IDM_SNAPSHOT, NOINVERT, CONTROL, VIRTKEY
  "B", IDM_LOAD_SUBS, NOINVERT, CONTROL, VIRTKEY
  VK_F11, IDM_FULLSCREEN, NOINVERT, VIRTKEY
  "H", IDM_INTERFACE_MIN, NOINVERT, CONTROL, VIRTKEY
  "I", IDM_INTERFACE_FULL, NOINVERT, CONTROL, VIRTKEY
  "P", IDM_SHOW_PLAYLIST, NOINVERT, VIRTKEY
  "T", IDM_STAY_ON_TOP, NOINVERT, VIRTKEY
  VK_F1, IDM_ABOUT, NOINVERT, VIRTKEY
}

