#include "windows.h"
#include "resources.h"

1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "59de44955ebd"
		VALUE "FileDescription", "SMP"
		VALUE "FileVersion", "0.2.0.0)"
		VALUE "InternalName", "SMP"
		VALUE "OriginalFilename", "SMP.exe"
		VALUE "ProductName", "SMP"
		VALUE "ProductVersion", "0,2,0,0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

1 ICON DISCARDABLE "app.ico"

IDB_TOOLBAR BITMAP DISCARDABLE "toolbar.bmp"
IDB_TOOLBAR_DARK BITMAP DISCARDABLE "toolbar-dark.bmp"
IDB_TOOLBAR_DISABLED BITMAP DISCARDABLE "toolbar-disabled.bmp"
IDB_VOLUME BITMAP DISCARDABLE "volume.bmp"
IDB_VOLUME_MUTE BITMAP DISCARDABLE "volume-mute.bmp"
IDB_VOLUME_DARK BITMAP DISCARDABLE "volume-dark.bmp"
IDB_VOLUME_MUTE_DARK BITMAP DISCARDABLE "volume-mute-dark.bmp"

IDB_CLOSE_BUTTON BITMAP DISCARDABLE "close-button.bmp"
IDB_CLOSE_BUTTON_DARK BITMAP DISCARDABLE "close-button-dark.bmp"

IDD_OPEN_URL DIALOGEX 0,0,296,60
CAPTION "Open URL"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPSIBLINGS|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "&Please enter a URL:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,7,115,8,WS_EX_NOPARENTNOTIFY
  CONTROL "",3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|ES_AUTOHSCROLL,7,18,281,12,WS_EX_CLIENTEDGE|WS_EX_NOPARENTNOTIFY
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,185,39,50,14,WS_EX_NOPARENTNOTIFY
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,239,39,50,14,WS_EX_NOPARENTNOTIFY
END

IDD_PLAYLIST_EDIT_TITLE DIALOGEX 0,0,196,60
CAPTION "Edit Title"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPSIBLINGS|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "&Enter the new title:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,7,115,8,WS_EX_NOPARENTNOTIFY
  CONTROL "",3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|ES_AUTOHSCROLL,7,18,181,12,WS_EX_CLIENTEDGE|WS_EX_NOPARENTNOTIFY
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,85,39,50,14,WS_EX_NOPARENTNOTIFY
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,139,39,50,14,WS_EX_NOPARENTNOTIFY
END

IDD_MEDIA_INFOS DIALOGEX 0,0,360,400
CAPTION "Media Infos"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_VISIBLE|DS_SETFONT|DS_FIXEDSYS|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_DLGMODALFRAME|WS_EX_TOPMOST
BEGIN
  CONTROL "",3,"Edit",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|ES_MULTILINE|ES_READONLY,0,0,360,400
END

IDD_COLOR_CONTROLS DIALOGEX 0,0,414,122
CAPTION "Color controls"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPSIBLINGS|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_DLGMODALFRAME|WS_EX_TOPMOST
BEGIN
  CONTROL "Brightness",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|ES_LEFT,14,10,77,9,4
  CONTROL "Contrast",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|ES_LEFT,14,33,77,9,4
  CONTROL "Hue",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|ES_LEFT,14,54,77,9,4
  CONTROL "Saturation",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|ES_LEFT,14,76,77,9,4
  CONTROL "0",IDC_CC_STATIC_BRIGHTNESS,"Static",WS_CHILDWINDOW|WS_VISIBLE|ES_CENTER,98,10,28,12,4
  CONTROL "0",IDC_CC_STATIC_CONTRAST,"Static",WS_CHILDWINDOW|WS_VISIBLE|ES_CENTER,98,33,28,11,4
  CONTROL "0",IDC_CC_STATIC_HUE,"Static",WS_CHILDWINDOW|WS_VISIBLE|ES_CENTER,98,54,28,12,4
  CONTROL "0",IDC_CC_STATIC_SATURATION,"Static",WS_CHILDWINDOW|WS_VISIBLE|ES_CENTER,98,76,28,12,4
  CONTROL "",IDC_CC_TRACKBAR_BRIGHTNESS,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS,139,7,261,17,4
  CONTROL "",IDC_CC_TRACKBAR_CONTRAST,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS,139,30,261,16,4
  CONTROL "",IDC_CC_TRACKBAR_HUE,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS,139,52,261,17,4
  CONTROL "",IDC_CC_TRACKBAR_SATURATION,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS,139,74,261,16,4
  CONTROL "Reset",IDC_BTN_RESET,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,255,99,70,17,4
  CONTROL "Close",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,330,99,70,17,4
END

IDD_ABOUT DIALOGEX 0,0,248,98
CAPTION "About"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPSIBLINGS|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_TOPMOST|WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "OK",1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP,182,75,59,16,WS_EX_NOPARENTNOTIFY
  CONTROL "#1",128,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ICON,12,8,32,32,WS_EX_NOPARENTNOTIFY
  CONTROL "SMP v0.2",11260,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,46,8,182,9,WS_EX_NOPARENTNOTIFY
  CONTROL "<a>https://github.com/59de44955ebd/SMP</a>",22018,"SysLink",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,46,17,182,9,WS_EX_NOPARENTNOTIFY
  CONTROL "A simple media player for Windows 11 that supports different multimedia frameworks/engines. UI inspired by MPC-HC and VLC.",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,9,39,236,25,WS_EX_NOPARENTNOTIFY
END

ID_POPUP_MENU_PLAYLIST MENU
BEGIN
  POPUP "Popup"
  BEGIN
    MENUITEM "&Import Playlist...", IDM_PLAYLIST_IMPORT
    MENUITEM "&Export Playlist...", IDM_PLAYLIST_EXPORT
    MENUITEM SEPARATOR
    MENUITEM "&Shuffle", IDM_PLAYLIST_SHUFFLE
    MENUITEM SEPARATOR
    MENUITEM "&Edit Title...", IDM_PLAYLIST_EDIT_TITLE
    MENUITEM "&Remove selected", IDM_PLAYLIST_REMOVE
    MENUITEM SEPARATOR
    MENUITEM "&Clear Playlist", IDM_PLAYLIST_CLEAR
  END
END
